body {
  margin: 0;
  background-color: #c1bdba;
  /* font-size: 20px; */
}

#first-screen-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(19, 35, 47, 0.9);
  padding: 40px;
  max-width: 600px;
  border-radius: 4px;
  box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
}

#user-or-org-name-input {
  margin-bottom: 20px;
  display: block;
  width: 100%;
  height: 100%;
  padding: 5px 10px;
  background: none;
  background-image: none;
  border: 1px solid #a0b3b0;
  color: #ffffff;
  border-radius: 0;
  -webkit-transition: border-color 0.25s ease, box-shadow 0.25s ease;
  transition: border-color 0.25s ease, box-shadow 0.25s ease;
}

#user-or-org-name-input:focus {
  outline: 0;
  border-color: #1ab188;
}

#user-or-org-name-input.invalid {
  border-color: rgb(247, 102, 40);
}

#submit-button {
  width: 100%;
  border: 0;
  border-radius: 0;
  outline: none;
  padding: 15px 0;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  background-color: #1ab188;
  color: #ffffff;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-appearance: none;
}

#submit-button:enabled:hover {
  background-color: #179b77;
  cursor: pointer;
}

#filter-panel {
  min-width: 1020px;
  position: fixed;
  width: 100%;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding: 5px;
  z-index: 1;
  background-color: rgb(19, 35, 47);
  color: white;
}

.apply-filter-button {
  width: 150px;
  height: 90%;
  border: 0;
  border-radius: 0;
  outline: none;
  padding: 15px 0;
  color: #ffffff;
  background-color: #1ab188;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-appearance: none;
}

#filter-panel button:hover {
  background-color: #179b77;
  cursor: pointer;
}

#filter-panel input,
#filter-panel select {
  margin-left: 3px;
  border: 1px solid #a0b3b0;
  background: rgb(19, 35, 47);
  color: white;
}

#filter-panel input:focus,
#filter-panel select:focus {
  outline: 0;
  border-color: #1ab188;
}

#star-input {
  width: 100px;
}

#sorting-panel {
  min-width: 1020px;
  position: fixed;
  width: 100%;
  top: 60px;
  display: flex;
  justify-content: space-between;
  height: 50px;
  padding: 0 5px 5px 5px;
  z-index: 1;
  background-color: rgb(19, 35, 47);
}

.sort {
  width: 25%;
  height: 90%;
  margin-right: 5px;
  border: 0;
  border-radius: 0;
  outline: none;
  padding: 15px;
  color: #ffffff;
  background-color: #1ab188;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-appearance: none;
}

.sort:last-child {
  margin-right: 0;
}

.sort:hover,
.sort.clicked {
  background-color: #179b77;
  cursor: pointer;
}

.sort .sort-order-arrow {
  display: none;
}

.sort.clicked .sort-order-arrow {
  display: inline;
  margin-left: 15px;
}

#card-container {
  margin-top: 120px;
}

.cards-block-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 95vw;
  margin: 0 auto;
}

.card {
  width: 28vw;
  margin: 5px;
  padding: 15px;
  background-color: rgba(19, 35, 47, 0.9);
  border-radius: 4px;
  box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
}

.card:hover {
  position: relative;
  left: 1px;
  background-color: rgb(18, 35, 47);
  cursor: pointer;
}

.card-repo-name {
  color: #ffffff;
  text-decoration: none;
  font-weight: 800;
}

.card-repo-name:hover {
  text-decoration: underline;
}

.card-name-fork-container {
  margin-top: 10px;
}

.title-container {
  width: 28vw;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #ffffff;
}

.card-is-repo-a-fork {
  color: rgb(160, 180, 180);
  margin-top: 10px;
}

.card-description {
  margin-top: 20px;
  margin-bottom: 10px;
  color: #dddddd;
}

.card-language {
  margin-top: 10px;
  margin-bottom: 10px;
  color: #a0bbb0;
}

.card-inline-group {
  font-size: 15px;
  color: #586069;
}

.card-stars-count {
  display: inline;
  margin-right: 16px;
  color: orange;
}

.card-update-date {
  color: #1ab188;
  display: inline;
}

#card-details-window {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  min-width: 400px;
  padding: 20px;
  color: white;
  background-color: rgb(19, 35, 47);
  border-radius: 4px;
  box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
  opacity: 1;
}

#heading {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#repo-name-link {
  color: #ffffff;
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
}

#repo-name-link:hover {
  text-decoration: underline;
}

#repo-name-link:visited {
  text-decoration: none;
}

#source {
  margin: 0;
  font-size: 15px;
  color: rgb(160, 180, 180);
}

#source a {
  color: rgb(160, 180, 180);
}

#source a:hover {
  color: white;
}

#content-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

#content-container a {
  color: #dddddd;
  text-decoration: none;
}

#content-container a:hover {
  color: #dddddd;
  text-decoration: underline;
}

#content-container a:visited {
  text-decoration: none;
}

.block-container {
  width: 50%;
}

.block-container:last-child {
  width: 100%;
}

.block-container-heading {
  text-align: center;
  font-size: 16px;
  color: #1ab188;
}

#card-details-window table {
  margin-left: auto;
  margin-right: auto;
  color: #dddddd;
}

#card-details-window thead {
  color: #a0bbb0;
}

#card-details-window td {
  padding-left: 5px;
  padding-right: 5px;
}

.number-of-prs {
  color: orange;
}

.amount-of-kbs {
  color: rgb(247, 102, 40);
}

#prs-list,
.block-container ul {
  list-style-type: none;
  padding: 0;
  margin: 0 auto;
}

.block-container ul {
  padding: 0 15px;
}

.block-container ul li {
  padding: 5px;
}

#ok-button {
  display: block;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
  border: 0;
  outline: none;
  border-radius: 0;
  padding: 15px 0;
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  background-color: #1ab188;
  color: #ffffff;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-appearance: none;
}

#ok-button:hover {
  background-color: #179b77;
  cursor: pointer;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #c1bdba;
  z-index: 2;
  opacity: 0.6;
}

.no-scroll {
  overflow: hidden;
}
